<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
<script src="../../../General/toastr.min.js"></script>
<div class="firstDiv">
    <div style="text-align: center;">
        <img src="../../../General/large_dopravologo.png" style="padding:10px" />
        <div class="div-centerd" style="padding:10px">Carrer Application Form</div>
    </div>
    <CandidateForm></CandidateForm>
</div>

<div class="ceneted-paragraph">
    <a target="_blank" href="https://www.dopravo.com/">Dopravo Website</a>
</div>


